<a href="https://colab.research.google.com/github/Anshu666h/ml_project/blob/main/unit1(a).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('/content/bank.csv')

# Explore the dataset
print(df.head())
print(df.info())
print(df.isnull().sum())

# Handle missing values
df.dropna(inplace=True)

# Convert data types
df['date_column'] = pd.to_datetime(df['balance'])
df['category_column'] = df['housing'].astype('category')

# Normalize a numerical column
df['normalized_column'] = (df['age'] - df['balance'].min()) / (df['day'].max() - df['duration'].min())

# Display the cleaned dataset
print(df.head())

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome deposit
0  unknown    5   may       261         1     -1         0  unknown      no
1  unknown    5   may       151         1     -1         0  unknown      no
2  unknown    5   may        76         1     -1         0  unknown      no
3  unknown    5   may        92         1     -1         0  unknown      no
4  unknown    5   may       198         1     -1         0  unknown      no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  deposit    45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
None
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64
   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome deposit  \
0  unknown    5   may       261         1     -1         0  unknown      no
1  unknown    5   may       151         1     -1         0  unknown      no
2  unknown    5   may        76         1     -1         0  unknown      no
3  unknown    5   may        92         1     -1         0  unknown      no
4  unknown    5   may       198         1     -1         0  unknown      no

                    date_column category_column  normalized_column
0 1970-01-01 00:00:00.000002143             yes         260.548387
1 1970-01-01 00:00:00.000000029             yes         260.096774
2 1970-01-01 00:00:00.000000002             yes         259.741935
3 1970-01-01 00:00:00.000001506             yes         260.193548
4 1970-01-01 00:00:00.000000001              no         259.741935