<a href="https://colab.research.google.com/github/Anshu666h/ml_project/blob/main/unit1(b).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

data = {
    'Name': ['sandy', 'harsh', 'saurav', 'deepak', None, 'sahil', 'ankit', 'rohit'],
    'Age': [19, None, 20, 29,35,36,90,10],
    'Salary': [10000,5000, 5000, None, 6000, 7000, 8000, 10000],
    'City': ['himachal', 'shimla', 'hamirpur', 'Chicago', 'Los Angeles', 'Chicago', None, 'Chicago']
}
df = pd.DataFrame(data)

df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].median(), inplace=True)
df['City'].fillna(df['City'].mode()[0], inplace=True)

df.drop_duplicates(inplace=True)

Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df = df[(df['Salary'] >= lower_bound) & (df['Salary'] <= upper_bound)]

print(df)

     Name        Age   Salary         City
0   sandy  19.000000  10000.0     himachal
1   harsh  34.142857   5000.0       shimla
2  saurav  20.000000   5000.0     hamirpur
3  deepak  29.000000   7000.0      Chicago
4    None  35.000000   6000.0  Los Angeles
5   sahil  36.000000   7000.0      Chicago
6   ankit  90.000000   8000.0      Chicago
7   rohit  10.000000  10000.0      Chicago

<ipython-input-3-c81b7ff6e756>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
<ipython-input-3-c81b7ff6e756>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].median(), inplace=True)
<ipython-input-3-c81b7ff6e756>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna(df['City'].mode()[0], inplace=True)